<!DOCTYPE html>
<html dir='rtl'>
  <head>
    <meta charset="utf-8">
    <title>Go بالأمثله</title>
    <link rel=stylesheet href="site.css">
  </head>
  <body>
    <div id="intro">
      <h2><a href="./">Go بالأمثله</a></h2>
      <p>
        <a href="https://go.dev">Go</a>
        لغة برمجه مفتوحة المصدر مصممة لبناء
        برامج امنه و موثوقه و قابلة للتطوير.
        يرجى قرائة
        <a href="https://go.dev/doc/tutorial/getting-started">الدليل الرسمي</a>
لتعلم المزيد.      </p>

      <p>
        <em>Go بالآمثله</em> هو مقدمة عملية
        لإستخدام Go، بإستخدام امثله حيه، انظر الى
         <a href="hello-world">المثال الاول</a> او
        تصفح الامثله بالأسفل
      </p>

      <p>
        الامثله هنا تستخدم
        <a href="https://go.dev/doc/devel/release">اخر اصدار رسمي من GO</a>.
        اذا لم يتم ذكر خلاف ذلك
      </p>

      <ul>
      {{range .}}
        <li><a href="{{.ID}}">{{.Name}}</a></li>
      {{end}}
      </ul>
{{ template "footer" }}
    </div>
  </body>
</html>
